@mixin animate() {
  @media not all and (prefers-reduced-motion: reduce) {
    @content;
  }
}

$small: 576px;
$medium: 768px;
$large: 992px;
$extraLarge: 1400px;
$nav: $medium;

@mixin small() {
  @media screen and (min-width: $small) {
    @content;
  }
}

@mixin medium() {
  @media screen and (min-width: $medium) {
    @content;
  }
}

@mixin large() {
  @media screen and (min-width: $large) {
    @content;
  }
}

@mixin extraLarge() {
  @media screen and (min-width: $extraLarge) {
    @content;
  }
}

@mixin nav() {
  @media screen and (min-width: $nav) {
    @content;
  }
}

