* {
  @include animate {
    scroll-behavior: smooth;
  }
}

body {
  background-color: var(--color-background);
  display: grid;
  gap: var(--padding);
  padding: var(--padding);
  grid-template-columns: 3rem 1fr;
  grid-template-rows: 1.5em auto;
  grid-template-areas:
    "nav  skip"
    "nav  header"
    ".    main"
    ".    profile"
    ".    styles"
    ".    footer";

  a.skip-link {
    grid-area: skip;
    margin-left: var(--padding);
  }

  nav {
    grid-area: nav;
    position: sticky;
    // TODO fix stick nav link headbutt
    top: -1px;
    z-index: 50;
  }

  header {
    grid-area: header;

    .container {
      display: flex;
      flex-direction: column;

      a.link-github {
        order: 1;
      }

      h1 {
        order: 2;
      }

      h2 {
        order: 3;
      }

      p {
        order: 4;
      }
    }
  }

  main {
    grid-area: main;
  }

  aside.profile {
    grid-area: profile;
  }

  aside#styles {
    grid-area: styles;
  }

  footer {
    grid-area: footer;
  }

  > *:not(nav) {
    color: var(--color-text);
    padding: var(--padding);
    position: relative;
    z-index: 2;
  }
}

@include nav() {
  body {
    padding: 0;
    grid-template-columns: auto minmax(var(--min-width), var(--max-width)) auto;
    grid-template-rows: auto;
    grid-template-areas:
    "header header  header"
    "nav    nav     nav"
    ".      main    ."
    ".      profile ."
    ".      styles  ."
    ".      footer  .";

    header {
      // min-height: calc(100vh - calc(10 * var(--padding)));
    }

    a.skip-link {
      grid-area: none;
      position: absolute;
      top: var(--padding);
      left: var(--padding);
    }

    header a.link-github {
      position: absolute;
      top: var(--padding);
      right: var(--padding);
    }
  }
}
