* {
  @include animate {
    scroll-behavior: smooth;
  }
}

body {
  background-color: var(--color-background);
  display: grid;
  gap: var(--padding);
  padding: var(--padding);
  padding-top: 0;
  grid-template-columns: 3rem 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "skip skip"
    "nav  header"
    ".    main"
    ".    profile"
    ".    styles"
    ".    footer";

  a.skip-link {
    grid-area: skip;
  }

  nav {
    grid-area: nav;
    position: sticky;
    top: -1px;
    z-index: 50;
  }

  header {
    grid-area: header;
    min-height: calc(100vh - calc(2 * var(--padding)));
  }

  main {
    grid-area: main;
  }

  aside.profile {
    grid-area: profile;
  }

  aside#styles {
    grid-area: styles;
  }

  footer {
    grid-area: footer;
  }

  > *:not(nav) {
    color: var(--color-text);
    padding: var(--padding);
    position: relative;
    z-index: 2;
  }
}

@include nav() {
  body {
    padding: 0;
    grid-template-columns: auto minmax(var(--min-width), var(--max-width)) auto;
    grid-template-rows: auto;
    grid-template-areas:
    "skip   skip    skip"
    "header header  header"
    "nav    nav     nav"
    ".      main    ."
    ".      profile ."
    ".      styles  ."
    ".      footer  .";

    header {
      min-height: calc(100vh - calc(10 * var(--padding)));
    }
  }
}
