:root {
  --color-primary: #3a00ff;
  --color-highlight: #c6a9cf;
  --color-background: #f1f0f0;
  --color-text: #1c232d;
  // --color-light: #fff;
  // --color-anchor: #3a00ff;
  // --font-weight-strong: 500;
  // --font-size-h1: 6rem;
  // --font-size-h2: 3rem;
  // --font-size-h3: 2rem;
  // --font-size-h4: 1.35rem;
  // --font-size-text: 1.15rem;
  --corners: 2rem;

  --shadow-raised-light: 0 -.25rem .5rem white, 0 .25rem .5rem rgba(0, 0, 0, .25);
  --shadow-raised-dark: 0 -.25rem .5rem rgba(255, 255, 255, .25), 0 .25rem .5rem black;
  --shadow-depressed-light: inset 0 -.125rem .25rem white, inset 0 .125rem .25rem rgba(0, 0, 0, .25);
  --shadow-depressed-dark: inset 0 -.125rem .25rem rgba(255, 255, 255, .25), inset 0 .125rem .25rem black;

  --padding: 1rem;
  --nav-size: 3rem;

  @include small() {
    --padding: 3rem;
    --nav-size: 4rem;
  }

  @include large() {
    --nav-size: 6rem;
  }

  @include animate() {
    --transition-speed: .3s;
  }
}
