:root {
  --color-primary: #3a00ff;
  --color-highlight: #c6a9cf;
  // --color-primary-alt: #6f6ffd;
  // --color-secondary: #d42257;
  --color-background: #f1f0f0;
  --color-text: #1c232d;
  // --color-text: #868686;
  // --color-light: #fff;
  // --color-anchor: #3a00ff;
  // --font-family: "Baloo 2", sans-serif;
  // --font-weight-strong: 500;
  // --font-size-h1: 6rem;
  // --font-size-h2: 3rem;
  // --font-size-h3: 2rem;
  // --font-size-h4: 1.35rem;
  // --font-size-text: 1.15rem;
  // --border-radius: 8px;

  --nav-size: 3rem;

  @include small() {
    --nav-size: 4rem;
  }

  @include large() {
    --nav-size: 6rem;
  }

  @include animate() {
    --transition-speed: .3s;
  }
}