@mixin button($dark: false) {
  position: relative;
  transform: scale(100%);
  transition: var(--transition-speed);

  @include raised;
  @include depressed;

  @if $dark {
    @include raised($dark: true);
    @include depressed($dark: true);
  }

  &:before,
  &:after {
    border-radius: 2em;
  }

  &:hover {
    transform: scale(105%);

    &:before {
      opacity: 1;
    }

    &:after {
      opacity: 0;
    }
  }

  &:active {
    transform: scale(100%);

    &:before {
      opacity: 0 !important;
    }

    &:after {
      opacity: 1 !important;
    }
  }
}
