main {
  @include raised;
}

main,
main:before,
main:after {
  border-radius: 4rem;
}

// main {
//   padding-top: 5vh;
//   padding-bottom: 5vh;
// }
//   main:focus {
//     outline: none;
//   }
//   main h3 {
//     color: var(--color-primary);
//   }

// #main h2 {
//   background-color: var(--color-secondary);
//   align-self: center;
//   color: var(--color-background);
//   padding: 0.25em 0.5em;
// }