nav {
  @include font-header(100);
  ul {
    list-style: none;

    li {
      a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: auto;
        line-height: 1;
        padding: .5em;

        color: var(--color-background);
        text-decoration: none;

        @include nav() {
          padding: 1em .75em;
          text-transform: uppercase;
          letter-spacing: .25em;

          @include button($dark: true);
          &:not(:hover):before,
          &:not(:focus):before {
            opacity: 0;
          }
        }

        &:hover,
        &:focus {
          outline: none;
          color: var(--color-highlight);
        }

        @include large {
          &:hover,
          &:focus {
            &:before {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
