.skip-link {
  font-size: 1.25rem;
  color: var(--color-text);
  text-decoration: none;
  height: 2.55em;
  padding: .5em;
  padding-left: 3em;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  @include button;


  &:hover,
  &:focus,
  &:active,
  &:hover *,
  &:focus *,
  &:active * {
    transform: none;
  }

  &:before,
  &:after {
    content: '»';
    font-size: 1.125em;
    height: 2.125em;
    width: 2.125em;
    top: -.125em;
    right: 2.5em;
    padding: .5em .75em;
  }
}
