.skip-link {
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  height: calc(5rem);
  margin-top: -5rem;
  margin-bottom: var(--padding);
  
  font-size: 1em;
  color: var(--color-background);
  background-color: var(--color-highlight);
  transition: margin-top var(--transition-speed);

  text-transform: uppercase;
  text-decoration: none;

  @include depressed;
  &:after {
    opacity: 1;
    transform: scale(-1);
  }

  @include small() {
    letter-spacing: .5em;
  }

  &:focus {
    margin-top: 0;
  }
}